<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Vehicle Management API</title>
        <link
            href="https://cdn.jsdelivr.net/npm/daisyui@4.4.24/dist/full.min.css"
            rel="stylesheet"
            type="text/css"
        />
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <div class="hero min-h-screen bg-base-200">
        <div class="hero-content">
            <div class="max-w-xl">
            <h1 class="text-5xl font-bold">Welcome!</h1>
            <p class="py-6">
                This API provides functionalities to manage vehicle data including brands, types, models, and pricelists. It supports operations such as creating, reading, updating, and deleting vehicle information. The API also includes authentication and authorization mechanisms to ensure secure access to resources.
            </p>
            <h2 class="text-2xl">Example</h2>
            <div class="mockup-code my-3">
                <pre
                data-prefix="1"
                class="text-sm px-4 my-2"
                ><code class="text-green-700">// Register</code></pre>
                <pre
                data-prefix="2"
                class="text-sm px-4 my-2"
                ><code><span class="text-green-500">POST</span> /api/v1/auth/register</code></pre>
                <pre
                data-prefix="3"
                class="text-sm px-4 my-2"
                ><code class="text-green-700">// Get all Users</code></pre>
                <pre
                data-prefix="4"
                class="text-sm px-4 my-2"
                ><code><span class="text-blue-500">GET</span> /api/v1/user/all</code></pre>
                <pre
                data-prefix="5"
                class="text-sm px-4 my-2"
                ><code class="text-green-700">// Update User</code></pre>
                <pre
                data-prefix="6"
                class="text-sm px-4 my-2"
                ><code><span class="text-yellow-500">PATCH</span> /api/v1/user/:id</code></pre>
                <pre
                data-prefix="7"
                class="text-sm px-4 my-2"
                ><code class="text-green-700">// Delete User</code></pre>
                <pre
                data-prefix="8"
                class="text-sm px-4 my-2"
                ><code><span class="text-red-500">DELETE</span> /api/v1/user/:id</code></pre>
            </div>
            <a href="/docs" target="_blank" class="btn btn-primary text-white"
                >More Documentation
            </a>
            </div>
        </div>
        </div>
    </body>
</html>