<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Bank System API</title>
        <link
            href="https://cdn.jsdelivr.net/npm/daisyui@4.4.24/dist/full.min.css"
            rel="stylesheet"
            type="text/css"
        />
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <div class="hero min-h-screen bg-base-200">
        <div class="hero-content">
            <div class="max-w-md">
            <h1 class="text-5xl font-bold">Welcome!</h1>
            <p class="py-6">
                This is a Bank System API. It's a simple REST API. You can use it to create, read, update, and delete.
            </p>
            <h2 class="text-2xl">Example</h2>
            <div class="mockup-code my-3">
                <pre
                data-prefix="1"
                class="text-sm px-4 my-2"
                ><code class="text-green-700">// Register Admin</code></pre>
                <pre
                data-prefix="2"
                class="text-sm px-4 my-2"
                ><code><span class="text-green-500">POST</span> /api/v2/admin</code></pre>
                <pre
                data-prefix="3"
                class="text-sm px-4 my-2"
                ><code class="text-green-700">// Register User</code></pre>
                <pre
                data-prefix="4"
                class="text-sm px-4 my-2"
                ><code><span class="text-green-500">POST</span> /api/v2/user</code></pre>
                <pre
                data-prefix="5"
                class="text-sm px-4 my-2"
                ><code class="text-green-700">// Login</code></pre>
                <pre
                data-prefix="6"
                class="text-sm px-4 my-2"
                ><code><span class="text-green-500">POST</span> /api/v2/auth/login</code></pre>
            </div>
            <a href="/docs" target="_blank" class="btn btn-primary"
                >More Documentation
            </a>
            </div>
        </div>
        </div>
    </body>
</html>